.sidebar {
  grid-area: pg-sd-bar;
  display: grid;
  grid-template-rows: 10vh auto;
  height: 100vh;
  overflow-y: auto;
  box-shadow: var(--menu-shadow);
  position: fixed;
  width: 200px;
}
.app-header {
  grid-row: 1 / 2;
  background-color: var(--brand-color);
  box-shadow: var(--brand-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.app-menu {
  grid-row: 2/3;
  background-color: var(--menu-color);
  z-index: 2;
}
