.app-content-example-container {
  margin: var(--page-content-vertical-gap) 0px;
  min-height: 200px;
  height: auto;
  border-radius: var(--border-radius);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: darkgray 2px solid;
  position: relative;
}
.app-content-example-box-title {
  content: 'Ejemplo';
  position: absolute;
  top: calc(-1 * var(--font-size));
  background-color: white;
  display: block;
  min-width: 75px;
  text-align: center;
  border-left: 4px solid darkgray;
  border-right: 4px solid darkgray;
  text-transform: uppercase;
  font-size: calc(2 * var(--font-size));
  transition: all 1s;
  transition-timing-function: ease-out;
}

.app-content-example-container:hover .app-content-example-box-title {
  font-size: var(--font-size);
}
