.text {
  display: grid;
  grid-gap: 10px;
}
.text li {
  list-style: none;
}
.text ul li::before {
  content: '';
  margin-right: 5px;
  border-left: rgb(0, 155, 226) calc(var(--font-size) / 4) solid;
  border-top: var(--page-content-color) calc(var(--font-size) / 4) solid;
  border-bottom: var(--page-content-color) calc(var(--font-size) / 4) solid;
  color: var(--brand-color);
  display: inline-block;
  width: calc(var(--font-size) / 100);
  height: calc(var(--font-size) / 100);
  text-align: center;
}
.text ol {
  counter-reset: li;
}
.text ol li::before {
  content: counter(li) '.';
  counter-increment: li;
  margin-right: 4px;
  display: inline-block;
  text-align: center;
  font-size: calc(1.2 * var(--font-size));
  width: var(--font-size);
  height: 100%;
}
.text p::first-letter {
  font-size: calc(2 * var(--font-size));
}
