:root {
  --brand-color: gold;
  --menu-color: rgba(255, 217, 0, 0.1);
  --page-content-color: rgba(255, 255, 224, 0.2);
  --brand-shadow: gray 0px 2px 4px;
  --menu-shadow: gray 2px 1px 4px;
  --primary-font-color: rgb(50, 50, 50);
  --secondary-font-color: white;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}
::-webkit-scrollbar-track {
  background-color: lightgray;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--primary-font-color);
}
#app {
  display: grid;
  grid-template-areas: 'pg-sd-bar pg-content';
  grid-template-columns: 200px auto;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
