:root {
  --brand-color: gold;
  --menu-color: rgba(255, 217, 0, 0.1);
  --page-content-color: #fffff9;
  --brand-shadow: gray 0px 2px 4px;
  --menu-shadow: gray 2px 1px 4px;
  --primary-font-color: rgb(50, 50, 50);
  --secondary-font-color: white;
  --page-content-vertical-gap: 10px;
  --border-radius: 4px;
  --font-size: 20px;
  --sidebar-width: 250px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}
::-webkit-scrollbar-track {
  background-color: lightgray;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--primary-font-color);
  font-size: var(--font-size);
}
h1 {
  font-size: calc(1.6 * var(--font-size));
}
h2 {
  font-size: calc(1.4 * var(--font-size));
}
h3 {
  font-size: calc(1.3 * var(--font-size));
}
h4 {
  font-size: calc(1.2 * var(--font-size));
}
h5 {
  font-size: calc(1.1 * var(--font-size));
}
#app {
  display: grid;
  grid-template-areas: 'pg-sd-bar pg-content';
  grid-template-columns: var(--sidebar-width) auto;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
