.app-content-code {
  background-color: rgb(0, 21, 44);
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  min-height: 150px;
  margin: var(--page-content-vertical-gap) 0px;
}
.app-content-code .label {
  border-right: 1px solid aliceblue;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.app-content-code .code {
  height: 100%;
  padding: 10px;
}
.app-content-code .js {
  color: var(--brand-color);
}
.app-content-code .css {
  color: dodgerblue;
}
.app-content-code .html {
  color: orangered;
}
.app-content-code .default {
  color: azure;
}
