.app-menu-item {
  text-transform: capitalize;
  text-decoration: none;
}
.app-menu-clicked-link {
  font-weight: bold;
  background-color: var(--brand-color);
}
.app-menu-item-hover:hover {
  font-weight: bold;
  background-color: var(--brand-color);
}
