.app-menu-item {
  list-style: none;
}
.app-menu-item-sublevel {
  text-transform: capitalize;
  text-decoration: none;
}
.app-menu-item-clicked {
  background-color: var(--brand-color);
}
.app-menu-item-hover:hover {
  font-weight: bold;
  background-color: var(--brand-color);
}
.app-menu-item-first-level {
  text-transform: uppercase;
  text-decoration: none;
}
.app-menu-item-first-level li {
  font-family: 'Fredoka One', cursive;
}
