.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader::before {
  content: '';
  min-height: 40px;
  min-width: 40px;
  height: 80px;
  width: 80px;
  border: solid rgba(170, 170, 170, 0.5) 4px;
  border-radius: 50%;
  position: relative;
}
.loader::after {
  content: '';
  min-height: 40px;
  min-width: 40px;
  height: 80px;
  width: 80px;
  border-top: solid rgba(30, 30, 30, 0.5) 6px;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-radius: 50%;
  position: absolute;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(340deg);
  }
}
