.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.core {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  animation: atom 10s linear infinite;
}
.electron {
  width: 70px;
  height: 70px;
  border-right: solid transparent 4px;
  border-top: solid 4px;
  position: absolute;
  top: -31px;
  left: -31px;
  border-radius: 50%;
}
.rotateX {
  transform: rotateX(60deg) rotate(0deg);
  animation: spinX 1.5s linear infinite;
}
.rotateZ {
  transform: rotateY(60deg) rotateX(30deg) rotate(120deg);
  animation: spinZ 1.5s linear infinite;
}
.rotateY {
  transform: rotateY(60deg) rotateX(-30deg) rotate(-120deg);
  animation: spinY 1.5s linear infinite;
}
@keyframes spinX {
  to {
    transform: rotateX(60deg) rotate(360deg);
  }
}
@keyframes spinY {
  to {
    transform: rotateY(60deg) rotateX(-30deg) rotate(240deg);
  }
}
@keyframes spinZ {
  to {
    transform: rotateY(60deg) rotateX(30deg) rotate(480deg);
  }
}
@keyframes atom {
  to {
    transform: rotate(360deg);
  }
}
